.aboutMain1 {
    height: 50em;
    /* background-color: aqua; */
}

.aboutHDiv {
    background-color: rgba(0, 0, 0, 0.181);
    height: 22em;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
}

.aboutC {
    /* background-color: rgb(165, 42, 157); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMainI {
    height: 20em;
}

.aboutText {
    display: flex;
    justify-content: center;
}

.aboutMainDiv {
    width: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.contactA {
    width: 20em;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    }

.contactA2 {
    width: 100%;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
}