.boyMain {
    display: grid;
    grid-template-columns: 18% 82%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.aside2 {
    background-color: black;
    height: 90%;
    /* border: 3px solid rgb(5, 4, 0); */
    border-right: 2px solid green;
    margin-top: 5em;
    border-radius: 45px;
}

.mainContent {
    background-color: white;
}



.mostSellBoy {
    /* background-color: rgb(170, 236, 170); */
    width: 90%;
    height: 55em;
    margin-top: 8em;
    margin-left: 4em;
} 


.promotions {
    /* background-color: rgb(170, 236, 170); */
    width: 90%;
    height: 50em;
    margin-top: 4em;
    margin-left: 4em;
} 

.colections {
    background-color: rgb(246, 251, 246);
    width: 99%;
    height: 40em;
    margin-top: 2em;
    margin-bottom: 10em;
}

.highlights {
    background-color: black;
    color: white;
    width: 20%;
    height: 3em;
    border-radius: 45px;
    display: flex;
    align-items: center;
}

.h1High {
    margin-left: 1em;
}

.imgH {
    margin-left: 2em;
}

.highDivs {
    display: flex;
    margin-top: 4em;
}

.highDiv1 {
    /* background-color: blue; */
    height: 45em;
    width: 48%;
    margin-right: 1em;
}

.highDiv2 {
    background-color: rgba(245, 222, 179, 0.471);
    height: 48%;
    width: 40em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.high2 {
    margin-top: -1em;
}

.hig3 {
    height: 22em;
}

.promos {
    display: flex;  
    justify-content: center;
}

.promos1 {
    margin-top: 4em;
    height: 5em;
    /* background-color: blueviolet; */
    margin-left: 2em;
    width: 40%;
    height: 40em;
    border: 10px inset #698010;

}