.help {
    width: 10%;
    position: fixed;
    background-color: brown;
    display: flex;
    position: fixed;
    margin-left: 90%;
    height: 20em;
}

.poweredby {
    background-color: black;
    color: white;
    height: 4em;
    font-size: 0.4em;
    display: flex;
    justify-content: center;
}

