.frete {
    background-color: rgb(0, 0, 4);
    color: white;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gold;
}

.contHero1 {
    display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.2em;
    grid-row-gap: 1em;
    justify-items: stretch;
    align-items: stretch;
    background-color: rgb(247, 240, 240);
}

.contH1 {
    /* background-color: rgb(235, 235, 241); */
    height: 22em;
    display: flex;
    justify-content: center;
}

.contH11 {
    /* background-color: rgb(235, 235, 241); */
    height: 22em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.girlAndBoy {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    background-color: rgba(22, 23, 22, 0.911);
    height: 10em;
    align-items: center;
    border: 3px black solid;
}

.girl {
    display: flex;
    height: 90%;
    justify-content: center;
}



.boyCentral {
    height: 15em;
    width: 15em;
}

.homDiv {
    display: flex;
    justify-content: center;
}

.home {
    font-size: 1em;
    color: black;
}

.search {
    display: flex;
    justify-content: center;
    color: black;
}

.h1h {
    background-color: rgb(5, 5, 0);
    border-radius: 45px;
    display: flex;
    justify-content: center;
    font-size: 1em;
    width: 10em;
    align-items: center;
    border: 5px solid rgb(242, 234, 4);
    color: white;
}

.boy {
    
}

.modM {
    font-size: 0.6em;
    margin-top: -3em;
    display: flex;
    justify-content: center;
    align-items:initial;
    color: white;

}

.login {
    display: flex;
    margin-top: 1em;
}

.loginI {
    width: 5em;
    margin-right: 2em;
}

.h1A {
    background-color: green;
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: 1em;
    height: 2.5em;
    width: 70%;
    align-items: center;
    border-radius: 45px;
    border: 5px solid black;
    margin-top: 2em;
}

.contact {
    display: flex;
    justify-content: center;
}

.marca {
    display: flex;
    font-size: 0.9em;
    justify-content: center;
    text-decoration: none;
}

.linkH1 {
    text-decoration: none;
}