.aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topicLink {
    border: 3px solid green;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    margin-top: 1em;
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.1em;

}

.filter {
    background-color: wheat;
}